 /* You should reset css before use this file  */
/* common */

/* Begin: Row */
.row {
    margin-left: -8px;
    margin-right: -8px;
}
/* End: Row */

/* Begin: To float - clear */
.row::after {
    content: "";
    display: block;
    clear: both;
}
/* End: To float - clear */

/* Begin: text: center */
.text-center {
    text-align: center !important;
}
/* End: text: center */

/* Begin: Margin Top */
.mt-4 {
    margin-top: 4px !important;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.mt-32 {
    margin-top: 32px !important;
}
/* End: Margin top */

/* PC */
@media (min-width: 1024px) {
    /*Begin: Col */
    .lg-col {
        float: left;
        padding-left: 8px;
        padding-right: 8px;
    }

    .lg-col-1 {
        width: 100%;
    }

    .lg-col-2 {
        width: 50%;
    }

    .lg-col-3 {
        width: calc(100%/3);
    }

    .lg-col-4 {
        width: 25%;
    }

    .lg-col-5 {
        width: 20%;
    }

    .lg-col-6 {
        width: calc(100%/6);
    }

    .lg-col-7 {
        width: calc(100%/7);
    }

    .lg-col-8 {
        width: calc(100%/8);
    }

    .lg-col-9 {
        width: calc(100%/9);
    }

    .lg-col-10 {
        width: calc(100%/10);
    }

    .lg-col-11 {
        width: calc(100%/11);
    }

    /* End: Row-col */
}

/* Tablet and Mobile */
@media (max-width: 1023px) {
    /* You can add  */
}

/* Tablet */
@media (min-width : 740px) and (max-width: 1023px) {
    /*Begin: Col */
    .m-col {
        float: left;
        padding-left: 8px;
        padding-right: 8px;
    }

    .m-col-1 {
        width: 100%;
    }

    .m-col-2 {
        width: 50%;
    }

    .m-col-3 {
        width: calc(100%/3);
    }

    .m-col-4 {
        width: 25%;
    }

    .m-col-5 {
        width: 20%;
    }

    .m-col-6 {
        width: calc(100%/6);
    }

    .m-col-7 {
        width: calc(100%/7);
    }

    .m-col-8 {
        width: calc(100%/8);
    }

    .m-col-9 {
        width: calc(100%/9);
    }

    .m-col-10 {
        width: calc(100%/10);
    }

    .m-col-11 {
        width: calc(100%/11);
    }
    /* End: Col */
}

/* Mobile */
@media (max-width: 739px) {
    /*Begin: Col */
    .s-col {
        float: left;
        padding-left: 8px;
        padding-right: 8px;
    }

    .s-col-1 {
        width: 100%;
    }

    .s-col-2 {
        width: 50%;
    }

    .s-col-3 {
        width: calc(100%/3);
    }

    .s-col-4 {
        width: 25%;
    }

    .s-col-5 {
        width: 20%;
    }

    .s-col-6 {
        width: calc(100%/6);
    }

    .s-col-7 {
        width: calc(100%/7);
    }

    .s-col-8 {
        width: calc(100%/8);
    }

    .s-col-9 {
        width: calc(100%/9);
    }

    .s-col-10 {
        width: calc(100%/10);
    }

    .s-col-11 {
        width: calc(100%/11);
    }
    /* End: Col */
}
